@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  text-align: center;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
}

.canvas {
  width: 50%;
  margin: 0px auto;
}
canvas {
  width: 100%;
  height: 100%;
}
.controller {
  width: 50%;

  .column {
    display: flex;
    justify-content: center;
    gap: 1em;
   }
  .columnItem {
    display: flex;
    justify-content: center;

    &:first-child {
      &::after {
        content: '/';
        margin-left: 1em;
      }
    }

    input {
      margin-left: .5em;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: 1px solid;
  aspect-ratio: 1 / 1;

  .row {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
  .cell {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(0deg, transparent calc(50% - 1px / 2), currentColor 1px, transparent  calc(50% + 1px / 2)), linear-gradient(90deg, transparent calc(50% - 1px / 2), currentColor 1px, transparent  calc(50% + 1px / 2));
    background-size: 100% 100%, 100% 100%;
    background-position: 0 0, 0 0;
    background-repeat: no-repeat;

    .cellInner {
      background: #fff;
    }

    input {
      width: 3em;
    }
  }
}

.shader {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 5em;
  background: rgba(255, 255, 255, .5);

  code, pre {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: .25em;
    box-sizing: border-box;
  }
}